// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;


// background-image: linear-gradient(180deg, #171c3a, #143256);
// $background-image: linear-gradient(180deg, #171c3a, #143256);

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#header {
  background-image: linear-gradient(180deg, #171c3a, #143256);
}

#header ul.tabs > li.current > a {

  background: #4c93d9;
  color: #fff;
}